body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;


}

h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.62rem;
  color: #66BFBF;

}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin-top: 0;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;

}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E

}

p{
  line-height: 2;
}

hr{
  border: dotted #2B3A55 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;

}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin:100px  0px;
}
.bottom-container{

}
.Pro{
  text-decoration: underline;
}

.about-me{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;

}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left; /**Over-writes the text-alignment propert used inside the parent element of the skill-row i.e) body*/

}


.top-cloud{
  position: absolute;
  top: 50px;
  right: 400px;
}

.bottom-cloud{
  position: absolute;
  left: 400px;
  bottom:300px;
}

.coding-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.pizza-img{
  width:25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cd;
  background-image: -webkit-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cd, #2bc4ad);
  text-decoration: none;
}
